* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/*Background*/
body {
    background-color:rgb(2,103,145);
    background-image: url("./images/backgrounds/fishing.jpg");
    /*background-image: url("./images/backgrounds/skyhigh.jpg");*/
    /*background-image: url("./images/backgrounds/totoro.gif");*/
    background-size: cover;
    background-repeat: no-repeat;
}

/*Icons*/
.iconGroup{
    width:50%;
    margin:0 auto;
    display: flex;

    justify-content: center;
    flex-wrap:wrap;
}

    .iconGroup a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .iconGroup img{
        width:100%;
        height:100%;
        transition:transform 250ms ease-in 25ms;
    }

    .iconGroup img:hover{
        transform:scale(1.2);
    }

.icon {
    width: 80px;
    height: 80px;
    margin:0 10px 10px 0;
    background-color: white;
    border: 15px solid white;
    border-radius: 25px;
}

/*Searchbar*/
.searchBar {
    width: 50%;
    margin: 20% auto 40px auto;
    text-align: center;
}

.searchBar h1{
    margin-bottom:0.5em;
    font-size:40px;
    font-family:Arial, sans-serif;
    color:white;
}

.searchBar input{
    padding-left:0.5em;
    font-family:Arial, sans-serif;
    font-size:16px;
    height:40px;
    max-width:500px;
    min-width:50%;
}