* {
    margin: 0;
}

body{
    font-family: Fira Mono;
    color:crimson;
}

/* Wallpaper */
.wallpaper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
}

/* Search */
.center-anchor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.94;
}

.center-anchor div{
    margin: 0.8rem 0;
}

.tagline-container{
    width: 600px;
    background-color: white;
    border: 2px solid crimson;
    padding: 0.8rem 2rem;
    border-radius: 18px;
    filter: drop-shadow(6px 6px 0 crimson);
}

.tagline-container h1{
    font-size: 40px;
}

.searchbox-container form input{
    width: 600px;
    padding: 0.8rem 3rem 0.5rem 1rem;
    height: 48px;
    border-radius: 18px;
    border: 2px solid crimson;
    filter: drop-shadow(6px 6px 0 crimson);
    font-size: 19px;
    user-select: none;
    color:crimson;
    font-family: Fira Mono;
}

input:focus{
    outline: inherit;
}

.stats-container{
    width:600px;
    background-color: white;
    opacity: 0.94;
    padding: 0.8rem 2rem;
    border-radius: 18px;
    border: 2px solid crimson;
    filter: drop-shadow(6px 6px 0 crimson);
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stats-container p{
    margin:auto 0;
}

/* Shortcut Panel */

.shortcut-container{
    background-color: white;
    opacity: 0.94;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 18px 18px 0;
    border: 2px solid crimson;
    filter: drop-shadow(6px 6px 0 crimson);
    padding-left:10px;
}

.shortcut-container h2{
    font-size:0.8em;
    padding: 10px 10px 0px 10px;
}

.shortcut-wrapper{
    position: absolute;
    left: -1120px;
    top: 50%;
    transform: translate(0%, -50%);
    padding-right:160px;
    padding-left:1000px;
}

.shortcut-wrapper:hover{
    left: -1010px;
    transition: left 0.05s ease-out;
}

.shortcut{
    width:70px;
    height:70px;
    padding: 10px;
    object-fit: cover;
}

.shortcut:hover{
    transform:scale(1.1);
}
