<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Homepage"/>
        <title>Home</title>
        <style th:inline="css">
            .wallpaper{
                background-image: url(/*[( @{${wallpaper.imageUrl}} )]*/);
            }
        </style>
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
    </head>
    <body class="wallpaper">

        <section class="center-anchor">
            <div class="tagline-container">
                <h1>It's a 
                    <span th:text="${weather.adjective}"></span> 
                    <span th:text="${datestr}"></span>!
                </h1>
            </div>
            <div class="searchbox-container">
                <form method="post" action="https://duckduckgo.com/">
                    <input type="text" name="q" value="" placeholder="Search..." autofocus="autofocus" autocomplete="off">
                </form>
            </div>
        </section>

        <section class="shortcut-wrapper">
            <div class="shortcut-container">
                <h2>Shortcuts</h2>
                <div th:each="shortcut : ${shortcuts}">
                    <a th:href="@{${shortcut.hyperlinkurl}}">
                        <img class="shortcut" th:src="@{${shortcut.imageurl}}" th:alt="${shortcut.alttext}"/>
                    </a>
                </div>
            </div>
        </section>

    </body>
</html>