<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Homepage"/>
        <style th:inline="css">
            * {
                color: white;
            }
            .wallpaper{
                background-image: url(/*[( @{${wallpaper.imageUrl}} )]*/);
            }
        </style>
    </head>
    <body class="wallpaper">
        <p th:text="${wallpaper.imageUrl}"></p>
        <p>Hello World</p>
        <p>It's a 
            <span th:text="${weather.adjective}"></span> 
            <span th:text="${dateStr}"></span>!
        </p>
    </body>
</html>