<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Homepage"/>
        <title>Home</title>
        <style th:inline="css">
            .wallpaper{
                background-image: url(/*[( @{${wallpaper.imageUrl}} )]*/);
            }
        </style>
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
    </head>
    <body class="wallpaper">

        <section class="center-anchor">
            <div class="tagline-container">
                <h1>It's a 
                    <span th:text="${weather.adjective}"></span> 
                    <span th:text="${datestr}"></span>!
                </h1>
            </div>
            <div class="searchbox-container">
                <form method="post" action="https://duckduckgo.com/">
                    <input type="text" name="q" value="" placeholder="Search..." autofocus="autofocus" autocomplete="off">
                </form>
            </div>
            <div class="stats-container" th:title="${weather.locationName} + ', Last Updated: ' + ${#temporals.format(weather.timeCreated, 'HH:mm')}">
                <img th:src="@{${weather.iconUrl}}"/>
                <p><span th:text="${#numbers.formatDecimal(weather.temp,0,1)}"></span>°C</p>
                <img th:src="@{/images/misc/wind.png}"/>
                <p><span th:text="${#numbers.formatDecimal(weather.windSpeedKph,0,1)}"></span>km/h</p>
                <img th:src="@{/images/misc/sunrise.png}"/>
                <p><span th:text="${#temporals.format(weather.sunrise, 'HH:mm')}"></span></p>
                <img th:src="@{/images/misc/sunset.png}"/>
                <p><span th:text="${#temporals.format(weather.sunset, 'HH:mm')}"></span></p>
            </div>
        </section>

        <section class="shortcut-wrapper">
            <div class="shortcut-container">
                <h2>Shortcuts</h2>
                <div th:each="shortcut : ${shortcuts}">
                    <a th:href="@{${shortcut.hyperlinkurl}}">
                        <img class="shortcut" th:src="@{${shortcut.imageurl}}" th:alt="${shortcut.alttext}"/>
                    </a>
                </div>
            </div>
        </section>

    </body>
</html>